:root {
    font-size: 16px;
    --black: #0f0a0a;
    --primary: #42e2b8;
    --background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
    --headline1: 700 5.9375rem/9.6068754196167rem Oxygen;
    --headline2: 700 3.6875rem/5.96637487411499rem Oxygen;
    --headline3: 700 3rem/4.854000091552734rem Oxygen;
    --headline4: 700 2.125rem/3.4382500648498535rem Oxygen;
    --headline5: 700 1.5rem/2.427000045776367rem Oxygen;
    --body1: 400 1rem/1.6180000305175781rem Oxygen;
    --body2: 400 0.875rem/1.4157500267028809rem Oxygen;
    --button: 700 0.875rem/1.4157500267028809rem Oxygen;
    --caption: 400 0.75rem/1.2135000228881836rem Oxygen;
    --logo: 900 24px poppins;
}

body,
html {
    color: var(--white);
    background: var(--background);
    /* font: var(--headline2); */
    min-block-size: 100vh;
    margin: 0px;
    padding: 0px;
}

nav {
    display: none;
}

nav div {
    inline-size: 299px;
    display: flex;
    justify-content: space-between;
    display: none;
}

nav div a {
    font: var(--button);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

nav div a:first-child {
    /* opacity: 1; */
}

.wrapper {
    padding-inline: 16px;
    max-inline-size: 1110px;
    margin: auto;
}

#logo {
    font: var(--logo);
    margin: 0;
}

#btn-cv {
    font: var(--button);
    border-radius: 90px;
    padding-inline: 24px;
    padding-block: 13px;
    background-color: var(--primary);
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
    border: 2px solid #0F0A0A;
    /* inline-size: 151px;
    block-size: 49px; */
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

h2,
h3 {
    margin: 0;
}

#saludo {
    font: var(--headline3);
}

h2 {
    font: var(--headline2);
}

#person-data {
    font: var(--body1);
}

.social a {
    background-color: var(--primary);
    padding: 10px;
    border: 2px solid var(--black);
    margin-inline-end: 16px;
    border-radius: 4px;
}

.social a img {
    vertical-align: middle;
}

#coment-decripcion {
    font: 400 1.5rem/2.427rem oxygen;
    text-align: center;
}

#coment-proyect {
    font: 700 1.5rem/2.427rem oxygen;
    text-align: center;
}

.arrow {
    text-align: center;
}

.arrow img {
    inline-size: 80px;
    block-size: 80px;
    margin-inline: 124px;
}

.coment {
    margin-block: 40px;
}

.data-title {
    display: flex;
    flex-direction: column
}

input,
textarea {
    outline: none;
}

.data-title a {
    background-color: black;
    color: var(--primary);
    font: var(--headline5);
    padding-inline: 8px;
    padding-block: 4px;
    box-shadow: -4px 4px 0px 0px #ffffff;
    text-transform: uppercase;
    align-self: flex-start;
}

#data-info {
    font: var(--body1);
}

.data-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.data-actions button {
    border: 2px solid black;
    border-radius: 90px;
    padding-block: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
}

.data-actions button:nth-child(2) {
    background-color: var(--primary);
    box-shadow: -4px 4px 14px 0px #00000040;
}

.data {
    padding-block: 40px;
}

.card-text {
    font: 700 1rem/1.618rem Oxygen;
}

.card-footer {
    font: var(--caption);
    opacity: 0.5;
}

.card-img {
    margin-inline: 104px;
}

.card {
    padding: 40px 0px 80px;
}

.content {
    padding: 24px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    border: 3.98px solid;
    border-image-source: radial-gradient(83.14% 78.52% at -12.32% -18.69%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
}

.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field {
    gap: 8px;
}

.field title {
    margin-inline-start: 16px;
    display: inline;
    font: 700 1rem/1.618rem Oxygen;
}

.form input,
textarea {
    border-radius: 8px;
    /* inline-size: 328px;
    block-size: 50px; */
    border: 1px solid rgba(133, 140, 148, 1);
    padding-block: 12px;
    padding-inline-start: 16px;
}

.form button {
    background-color: var(--primary);
    box-shadow: -4px 4px 14px 0px #00000040;
}

.social-form {
    margin-block-start: 40px;
    display: flex;
    justify-content: center;
}

footer {
    font: var(--body1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 24px;
}

footer p {
    margin: 0;
}

p span {
    font-size: 16px;
}

.data-person {
    display: flex;
    flex-direction: column;
}

.data-person .person {
    align-self: center;
}

.active {
    opacity: 1;
}

header {
    position: sticky;
    top: 0px;
    backdrop-filter: blur(5px);
    block-size: 100%;
}

@media screen and (min-width: 700px) {
    nav div {
        display: flex;
    }
    .data-person {
        flex-direction: row-reverse;
        /* gap: 90px; */
        justify-content: space-evenly;
    }
    .coment {
        margin-block: 200px;
        /* margin-inline: 233px; */
    }
    #coment-decripcion {
        font: 300 2.125rem/3.438rem oxygen;
        text-align: center;
    }
    #person-data {
        inline-size: 449px;
    }
    .data {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .data-actions {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        justify-content: flex-end;
    }
    .data-actions button {
        inline-size: 165px;
    }
    form .data-actions button {
        inline-size: 100%;
    }
    .data-content {
        inline-size: 449px;
        block-size: 205px;
    }
    .flex-reverse {
        flex-direction: row;
    }
    .card {
        padding: 80px;
    }
    .card-footer {
        font: var(--headline5);
    }
    .card-text {
        font: 700 2.125rem/3.438rem Oxygen;
    }
    .content {
        /* padding: 60px; */
        text-align: center;
    }
    .data-form {
        flex-direction: column;
        margin-inline: 300px;
        /* text-align: center; */
    }
    .data-form p {
        text-align: center;
    }
    .data-form .data-title {
        inline-size: 100%;
    }
    .data-form .data-title a {
        inline-size: 100%;
        text-align: center;
    }
    .form {
        inline-size: 100%;
    }
    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .social-form {
        margin-block-start: 0px;
    }
    footer {
        align-items: center;
        flex-direction: row;
        gap: 3px;
    }
}